/*Imports de tipografía y colores desde la carpeta PARTIALS*/
@import "./partials/tipografia";
@import "./partials/colores";
@import "./partials/media-queries";

/*---------------------------------------------------------------------*/

/*VARIABLES*/

$ancho: 20em; /*declaración de la variable ancho*/
$alto: 10px; /*declaración de la variable alto*/
$padding: 15px; /*declaración de la variable padding*/
$bordeRedondo: 2px; /*declaración de la variable bordeRedondo*/

/*---------------------------------------------------------------------*/

/*DISEÑO DEL INDEX*/
/*header en bootstrap*/

.menudesplegable {
    color: white !important;
}

.impulsarg {
    padding-left: $padding - 8; /*operación= resta*/
    width: ($ancho/2)+1.25; /*operación= división y suma*/
}

ul {
    list-style: none;
    li:hover {
        background-image: linear-gradient(to bottom, white,cornsilk); 
        border-radius: ($bordeRedondo*2)+1; /*operación= multiplicación y suma*/
        a {
            color: cornflowerblue !important;
        }
    }
}

.navbar-light {
    background-color: cornflowerblue;
}

.bg-light {
    background-color: cornflowerblue !important;
}


/*main con BEM*/

.container1 {
    width: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: cornflowerblue;
    background-clip: border-box;
    border: none;
    &__body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
        margin-top: 1rem;
    }
    &__title {
        margin-bottom: .5rem; 
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: white !important;
        text-transform: uppercase;
        animation-duration: 3s;
        animation-name: aparecer;
        font-size: 3em;
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        color: white;
        line-height: 2em;
        animation-duration: 3s;
        animation-name: aparecer;
    }
}

@keyframes aparecer { /*animación aplicada al título principal del sitio web*/
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    &__slide {
        animation-duration: 3s;
        animation-name: slide-top;
    }
}

.slide-top { /*animación extraída de Animista y aplicada a la descripción del sitio*/
	-webkit-animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
}  


.inicio {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 1em;
    color: cornflowerblue;
    line-height: ($alto*3); /*operación= división y resta*/
    text-align: left;
    padding-top: 1rem;
}

.btn-outline-primary {
    color: none;
    border-color: white;
}

button {
    text-decoration: none;
    a {
        text-decoration: none;
        color: white;
        :hover {
        color: white !important;
        }
    }
}

/*Noticias destacadas con Bootstrap y BEM*/

.card2 {
    background-color: white;
    &__news {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        color: grey;
        text-align: center;
        letter-spacing: 0.1em;
    }
    &__btnNoticias {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: white;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: cornflowerblue;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
        margin-top: 1em;
        margin-bottom: 1em;
        border-color: none !important;
    }
}


/*Bloque de imágenes de la sección noticias con OPERACIONES (en base a las variables definidas al inicio del SCSS)*/
.noticias-img{
    width: $ancho - 6.25; /*operación= resta*/ 
    height: ($alto*20)+20; /*operación= multiplicación y suma*/
    object-fit: cover;
    border-radius: 110px;
}


.mt-4 {
    margin-top: 1.5rem!important;
    margin-left: 1rem;
    margin-right: 1rem;
}

/*Nuestra historia con cards de Bootstrap y BEM*/

.cardNoti {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: none;
    &__historia {
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    &__text3{
        font-family: 'Roboto', sans-serif;
        color: white;
        text-align: center;
    }
}

.anchorwhite {
    text-decoration: none;
    color: white;
}


/*Nuestros valores*/

tr {
    background-color: none;
    th {
        text-align: center;
        td {
            text-align: center;
        }
    }
}

/*Divisores de sección*/

hr{
    height: 0.62em !important;
    margin: 0px; 
    opacity: 1;
}

.gradiente1{
    background: cornflowerblue;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
}

/*Footer*/

.newsletter {
    margin-left: 1em;
    margin-right: 1em;
}

/*---------------------------------------------------------------------*/

/*DISEÑO DE QUIENESSOMOS.HTML*/

/*intro en BEM*/

.quienesSomos {
    background-color: white;
    &__titulo {
        font-family: 'Roboto', sans-serif;
        font-size: 3.30em;
        color: cornflowerblue;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 5rem;
    }
    &__presentación {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 4px;
        word-spacing: 5px;
        font-size: 1.87em;
        color: grey;
        line-height: 45px;
        text-align: center;
        justify-self: center;
    }
}

.card3 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: none;
}

.contenedornoticias {
    background-color: cornflowerblue;
}

.contenerdorvideo {
    background-color: cornflowerblue;
    height:0px;
    width:100%;
    max-width:560px; 
    padding-top:56.25%; 
    position:relative;
}

/*video*/
.embed-container {
    position: relative;
    padding-bottom: 30%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.subpresentación {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .20em;
    word-spacing: 5px;
    font-size: 1.3em;
    color: white;
    line-height: 1.5em;
    text-align: left;
}

/*---------------------------------------------------------------------*/

/*DISEÑO DE SERVICIOS.HTML*/

/*servicios con BEM*/

.services {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2em;
    &__img {
        width:($ancho/2)+3.75; /*operación= división y suma*/
        height:($alto*20)+20; /*operación= multiplicación y suma*/
        object-fit: cover;
        border-radius: ($bordeRedondo*100)-90; /*operación= multiplicación y resta*/
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        color: white;
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }
}


/*---------------------------------------------------------------------*/

/*DISEÑO DE NOTICIAS.HTML*/

/*Noticias con cards de Bootstrap y BEM*/

.noticiasInterno {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    &__news2 {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        color: cornflowerblue;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.2em;
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        color: cornflowerblue;
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }
}

